*.jpg
*.png
*.jpeg
*.webp
!pointarena_champion_page/assets/images/*.jpg
!pointarena_champion_page/assets/images/*.png
!pointarena_champion_page/assets/images/*.jpeg
!pointarena_champion_page/assets/images/*.webp
res*.json
data-src.json


run_point_agent.sh

.env
.venv/
__pycache__/
*.pyc
logs/
static_results/
point_on_mask/
visualizations/
.venv/
models/
steerable_ref/
overlay/
data/
